GauntletUI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Prefab">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Parameters" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Parameter" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="Name" type="xs:string" use="required" />
                                    <xs:attribute name="DefaultValue" type="xs:string" use="required" />
                                    <xs:anyAttribute processContents="lax" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Constants" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Constant" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="Name" type="xs:string" use="required" />
                                    <xs:attribute name="Value" type="xs:string" use="required" />
                                    <xs:attribute name="Additive" type="xs:string" />
                                    <xs:attribute name="MultiplyResult" type="xs:string" />
                                    <xs:anyAttribute processContents="lax" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Window" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:group ref="AllWidgets" minOccurs="0" maxOccurs="unbounded" />
                            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="SizePolicyType">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="StretchToParent" />
                    <xs:enumeration value="CoverChildren" />
                    <xs:enumeration value="Fixed" />
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string" />
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:group name="AllWidgets">
        <xs:choice>
            <xs:group ref="BasicWidgets" />
        </xs:choice>
    </xs:group>

    <xs:group name="BasicWidgets">
        <xs:choice>

            <xs:element name="Widget" type="WidgetBase" />
            <xs:element name="BrushWidget" type="BrushWidgetBase" />
            <xs:element name="ImageWidget" type="ImageWidgetBase" />
            <xs:element name="TextWidget" type="TextWidgetBase" />
            <xs:element name="EditableTextWidget" type="EditableTextWidgetBase" />
            <xs:element name="ButtonWidget" type="ButtonWidgetBase" />
            <xs:element name="HintWidget" type="HintWidgetBase" />
            <xs:element name="SliderWidget" type="SliderWidgetBase" />
            <xs:element name="ListPanel" type="ListPanelBase" />
            <xs:element name="GridWidget" type="GridWidgetBase" />
            <xs:element name="ScrollablePanel" type="ScrollablePanelBase" />
            <xs:element name="ScrollbarWidget" type="ScrollbarWidgetBase" />
            <xs:element name="FillBarWidget" type="FillBarWidgetBase" />
            <xs:element name="FillBarVerticalWidget" type="FillBarVerticalWidgetBase" />
            <xs:element name="ImageIdentifierWidget" type="ImageIdentifierWidgetBase" />
            
        </xs:choice>
    </xs:group>
    
    <xs:complexType name="WidgetBase">
        <xs:choice minOccurs="0" maxOccurs="1">
            <xs:element name="Children">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="AllWidgets" minOccurs="0" maxOccurs="unbounded" />
                        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ItemTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="AllWidgets" minOccurs="0" maxOccurs="unbounded" />
                        <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="LogicalChildrenLocation">
                <xs:complexType />
            </xs:element>
        </xs:choice>

        <xs:attribute name="DataSource" type="xs:string" />

        <xs:attribute name="IsEnabled" type="xs:string" />
        <xs:attribute name="IsDisabled" type="xs:string" />

        <xs:attribute name="IsVisible" type="xs:string" />
        <xs:attribute name="IsHidden" type="xs:string" />

        <xs:attribute name="Id" type="xs:string" />

        <xs:attribute name="WidthSizePolicy" type="SizePolicyType" />
        <xs:attribute name="HeightSizePolicy" type="SizePolicyType" />

        <xs:attribute name="MinWidth" type="xs:string" />
        <xs:attribute name="SuggestedWidth" type="xs:string" />
        <xs:attribute name="MaxWidth" type="xs:string" />
        <xs:attribute name="MinHeight" type="xs:string" />
        <xs:attribute name="SuggestedHeight" type="xs:string" />
        <xs:attribute name="MaxHeight" type="xs:string" />

        <xs:attribute name="HorizontalAlignment">
            <xs:simpleType>
                <xs:union>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Left" />
                            <xs:enumeration value="Center" />
                            <xs:enumeration value="Right" />
                        </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                        <xs:restriction base="xs:string" />
                    </xs:simpleType>
                </xs:union>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="VerticalAlignment">
            <xs:simpleType>
                <xs:union>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Top" />
                            <xs:enumeration value="Center" />
                            <xs:enumeration value="Bottom" />
                        </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                        <xs:restriction base="xs:string" />
                    </xs:simpleType>
                </xs:union>
            </xs:simpleType>
        </xs:attribute>

        <xs:attribute name="MarginLeft" type="xs:string" />
        <xs:attribute name="MarginRight" type="xs:string" />
        <xs:attribute name="MarginTop" type="xs:string" />
        <xs:attribute name="MarginBottom" type="xs:string" />

        <xs:attribute name="Sprite" type="xs:string" default="BlankWhiteSquare_9" />
        <xs:attribute name="Brush" type="xs:string" />
        <xs:attribute name="Color" type="xs:string" />
        <xs:attribute name="ColorFactor" type="xs:string" />
        <xs:attribute name="AlphaFactor" type="xs:string" />
        <xs:attribute name="ValueFactor" type="xs:string" />
        <xs:attribute name="SaturationFactor" type="xs:string" />

        <xs:attribute name="PositionXOffset" type="xs:string" />
        <xs:attribute name="PositionYOffset" type="xs:string" />

        <xs:attribute name="ClipContents" type="xs:string" />
        <xs:attribute name="DoNotPassEventsToChildren" type="xs:string" />
        <xs:attribute name="DoNotAcceptEvents" type="xs:string" />
        <xs:attribute name="HorizontalFlip" type="xs:string" />

        <xs:anyAttribute processContents="lax" />
    </xs:complexType>

    <xs:complexType name="BrushWidgetBase">
        <xs:complexContent><xs:extension base="WidgetBase" /></xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ImageWidgetBase">
        <xs:complexContent><xs:extension base="WidgetBase" /></xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TextWidgetBase">
        <xs:complexContent><xs:extension base="WidgetBase">
            <xs:attribute name="FloatText" type="xs:string" />
            <xs:attribute name="IntText" type="xs:string" />
            <xs:attribute name="Text" type="xs:string" />
            <xs:attribute name="Brush.FontSize" type="xs:string" />
            <xs:attribute name="Brush.FontColor" type="xs:string" default="#FFFFFFFF" />
            <xs:attribute name="Brush.TextAlphaFactor" type="xs:string" default="#FFFFFFFF" />
            <xs:attribute name="Brush.TextHorizontalAlignment" type="xs:string">
                <xs:simpleType>
                    <xs:union>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Left" />
                                <xs:enumeration value="Center" />
                                <xs:enumeration value="Right" />
                            </xs:restriction>
                        </xs:simpleType>
                        <xs:simpleType>
                            <xs:restriction base="xs:string" />
                        </xs:simpleType>
                    </xs:union>
                </xs:simpleType>
            </xs:attribute>
        </xs:extension></xs:complexContent>
    </xs:complexType>

    <xs:complexType name="EditableTextWidgetBase">
        <xs:complexContent>
            <xs:extension base="TextWidgetBase">
                <xs:attribute name="RealText" type="xs:string" />
                <xs:attribute name="DefaultSearchText" type="xs:string" />
                <xs:attribute name="Command.FocusGained" type="xs:string" />
                <xs:attribute name="Command.FocusLost" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ButtonWidgetBase">
        <xs:complexContent><xs:extension base="WidgetBase">
            <xs:attribute name="Command.Click" type="xs:string" />
        </xs:extension></xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HintWidgetBase">
        <xs:complexContent>
            <xs:extension base="WidgetBase">
                <xs:attribute name="Command.HoverBegin" type="xs:string" default="ExecuteBeginHint" />
                <xs:attribute name="Command.HoverEnd" type="xs:string" default="ExecuteEndHint" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SliderWidgetBase">
        <xs:complexContent>
            <xs:extension base="WidgetBase">
                <xs:attribute name="MaxValueInt" type="xs:string" />
                <xs:attribute name="MinValueInt" type="xs:string" />
                <xs:attribute name="ValueInt" type="xs:string" />
                <xs:attribute name="Handle" type="xs:string" />
                <xs:attribute name="Filler" type="xs:string" />
                <xs:attribute name="IsDiscrete" type="xs:string" />
                <xs:attribute name="DoNotUpdateHandleSize" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ListPanelBase">
        <xs:complexContent>
            <xs:extension base="WidgetBase">
                <xs:attribute name="StackLayout.LayoutMethod">
                    <xs:simpleType>
                        <xs:union>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="HorizontalLeftToRight" />
                                    <xs:enumeration value="HorizontalRightToLeft" />
                                    <xs:enumeration value="VerticalTopToBottom" />
                                    <xs:enumeration value="VerticalBottomToTop" />
                                </xs:restriction>
                            </xs:simpleType>
                            <xs:simpleType>
                                <xs:restriction base="xs:string" />
                            </xs:simpleType>
                        </xs:union>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="GridWidgetBase">
        <xs:complexContent>
            <xs:extension base="WidgetBase">
                <xs:attribute name="ColumnCount" type="xs:string" />
                <xs:attribute name="DefaultCellWidth" type="xs:string" />
                <xs:attribute name="DefaultCellHeight" type="xs:string" />
                <xs:attribute name="LayoutImp" type="xs:string" default="GridLayout" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ScrollablePanelBase">
        <xs:complexContent>
            <xs:extension base="WidgetBase">
                <xs:attribute name="AutoHideScrollBars" type="xs:string" />
                <xs:attribute name="ClipRect" type="xs:string" />
                <xs:attribute name="InnerPanel" type="xs:string" />
                <xs:attribute name="VerticalScrollbar" type="xs:string" />
                <xs:attribute name="HorizontalScrollbar" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ScrollbarWidgetBase">
        <xs:complexContent>
            <xs:extension base="WidgetBase">
                <xs:attribute name="Handle" type="xs:string" />
                <xs:attribute name="AlignmentAxis" type="xs:string" />
                <xs:attribute name="MaxValue" type="xs:string" />
                <xs:attribute name="MinValue" type="xs:string" />
                <xs:attribute name="ValueFloat" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FillBarWidgetBase">
        <xs:complexContent>
            <xs:extension base="WidgetBase">
                <xs:attribute name="FillWidget" type="xs:string" />
                <xs:attribute name="InitialAmount" type="xs:string" />
                <xs:attribute name="MaxAmount" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FillBarVerticalWidgetBase">
        <xs:complexContent>
            <xs:extension base="FillBarWidgetBase">
                <xs:attribute name="IsDirectionUpward" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ImageIdentifierWidgetBase">
        <xs:complexContent>
            <xs:extension base="WidgetBase">
                <xs:attribute name="ImageId" type="xs:string" default="@Id" />
                <xs:attribute name="AdditionalArgs" type="xs:string" default="@AdditionalArgs" />
                <xs:attribute name="TextureProviderName" type="xs:string" default="@TextureProviderName" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CharacterTableauWidgetBase">
        <xs:complexContent>
            <xs:extension base="WidgetBase">
                <xs:attribute name="BannerCodeText" type="xs:string" />
                <xs:attribute name="BodyProperties" type="xs:string" />
                <xs:attribute name="CharStringId" type="xs:string" />
                <xs:attribute name="EquipmentCode" type="xs:string" />
                <xs:attribute name="IsFemale" type="xs:string" />
                <xs:attribute name="MountCreationKey" type="xs:string" />
                <xs:attribute name="StanceIndex" type="xs:string" />
                <xs:attribute name="ArmorColor1" type="xs:string" />
                <xs:attribute name="ArmorColor2" type="xs:string" />
                <xs:attribute name="Race" type="xs:string" />
                <xs:attribute name="DoNotUseCustomScale" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>
