Heroes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="Bannerlord-Schemas-BodyPropertyTypes.xsd" />
    
    <xs:simpleType name="HeroType">
        <xs:union memberTypes="xs:string">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Hero." />
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    
    <xs:element name="Heroes">
        <xs:complexType>
            <xs:choice>
                <xs:element name="Hero" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:string" />
                        <xs:attribute name="alive" type="xs:boolean" />
                        <xs:attribute name="faction">
                            <xs:simpleType>
                                <xs:union memberTypes="xs:string">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="Faction." />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:union>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="text" type="xs:string" />
                        <xs:attribute name="preferred_upgrade_formation" type="xs:string" />
                        <xs:attribute name="father" type="HeroType" />
                        <xs:attribute name="mother" type="HeroType" />
                        <xs:attribute name="spouse" type="HeroType" />
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>

</xs:schema>